@import url("https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");

:root {
  --probably-main-color: #e1684d;
  --main-color: #f06a4c;
  --second-color: #292929;
  --third-color: #242424;
  --main-bg-color: #232323;
  --second-bg-color: #1f1f1f;

  --font: "Poppins", sans-serif;
}
* {
  font-family: var(--font);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  /* transition: all 0.2s linear; */
}
section {
  min-height: 100vh;
  padding: 1rem 7%;
  padding-top: 6rem;
}
/* header start */
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--main-bg-color);
  position: fixed;
  top: 0%;
  z-index: 999;
  padding: 1.5rem 10%;
}
header .logo {
  color: var(--logo-color);
  font-size: 2rem;
  letter-spacing: 2px;
}
header .logo p::first-letter {
  font-size: 2.5rem;
}
header nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav ul li {
  margin: 0 1rem;
}
header nav ul li a {
  font-size: 1rem;
  color: azure;
}
header nav ul li a.active {
  font-size: 1rem;
  color: var(--main-color);
}
header .menu-button {
  background: var(--logo-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 35px;
  height: 35px;
  padding: 4px;
}
header .menu-button span {
  margin: 2px 0px;
  width: 100%;
  height: 2px;
  background: azure;
}
header .menu-button span:first-child {
  width: 60%;
  align-self: flex-end;
}
/* header end */

/* home section start */
.home {
  background: var(--main-bg-color);
  position: relative;
}
.home .home-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  font-size: 6rem;
  font-weight: bold;
  left: 15%;
  top: 28%;
}
.home .home-text div:first-child {
  --second-color: #494949;
  color: var(--second-color);
}
.home .home-text div:is(:nth-child(2), :nth-child(3)) {
  color: azure;
}
.home .home-text div:is(:nth-child(3)) {
  position: relative;
}
.home .home-text div:is(:nth-child(3))::after {
  content: "";
  position: absolute;
  width: 20px;
  aspect-ratio: 1;
  background: var(--main-color);
  bottom: 20px;
  right: -30px;
}
.home .home-text .button {
  width: 50%;
  font-size: 1.4rem;
  padding: 1px;
  margin: 0;
  background: var(--logo-color);
  color: azure;
  text-align: center;
}
/* home section end */

/* about section start */
.about {
  background: var(--second-bg-color);
  color: azure;
}
.about .logo {
  font-size: 6rem;
  color: var(--main-color);
  text-align: center;
}
.about .column {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.about .column .column-left {
  text-align: center;
  width: 50%;
}
.about .column .column-right {
  width: 50%;
}
.about .column .column-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  line-height: 2rem;
}
.about .column .column-right h2 {
  font-size: 2rem;
  font-weight: 300;
  padding: 15px 0;
}
.about .column .column-right .info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.about .column .column-right .info .info-card {
  width: 50%;
  text-align: center;
  margin: 10px 0;
}
.about .column .column-right .info .education {
  width: 100%;
}
.about .column .column-right .info .info-card div:first-child {
  color: var(--main-color);
}
/* about section endd */
